.home-link {
  display: block;
  margin: 30px;
}
.home-txt {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
}
.home-img {
  width: 50%;
  height: 50%;
}
.h-line {
  position: relative;
  display: block;
  margin-top: 30px;
  height: 1px;
  background-color: rgb(47, 47, 47);
}
