.box {
  position: relative;
  display: block;
  margin: 20px;
}
.home-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.home-img {
  display: block;
  width: 25%;
  height: 25%;
}
.btn {
  border: none;
  padding: 0;
}
.home-txt {
  display: block;
  width: 30px;
  height: 30px;
  white-space: nowrap;
}
