@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: #000;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
html {
  font-size: 16px;
}
img {
  border: 0;
  vertical-align: middle;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden;
}
em {
  font-style: normal;
}
.container {
  text-align: center;
  margin-top: 20px;
  width: 362px;
  padding: 0;
}
/* HEADER */
.header-bt {
  background: #334475;
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
}
.header-txt {
  color: #fff;
  align-self: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.btn-success {
}
.nav {
  text-align: left;
  position: relative;
}
.gnb {
  position: absolute;
  right: 0;
}
.header {
  position: relative;
  height: 12.6946vh;
  padding: 0 20px;
}
.logo {
  position: relative;
  margin: 0px auto;
  margin-bottom: 12px;
  width: 107px !important;
  height: 37px !important;
  display: block !important;
}
.logo img {
  width: 100% !important;
  display: block !important;
}
.searchbox-wrap {
  position: relative;
  margin: 0 auto;
  margin-bottom: 15px;
}
.searchbox {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 100%;
  /* height: 40px; */
  padding: 7px 30px;
  border-radius: 30px;
  text-indent: 50%;
  text-align: right;
}
.searchbox-icon {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Home */
/* .H-list {
  position: relative;
  display: block;
  width: 376px;
  height: 276px;
  text-align: center;
}
.H-biImgSeq{
  margin-bottom: 15px;
}
.H-biTitle {
  font-size: 13px;
  margin-bottom: 10px;
}
.H-biPublisher {
  font-size: 10px;
  margin-bottom: 15px;
}
.H-biPrice {
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 24px;
} */

.H-t {
  font-size: 13px;
}
.H-b {
  font-size: 10px;
}
.H-p {
  font-size: 10px;
  font-weight: 700;
}
